name: app_tammy
description: App sencilla para administrar y buscar productos con imagen y descuento.
publish_to: 'none'
version: 0.0.1+1
environment:
  sdk: '>=2.18.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter
  shared_preferences: ^2.0.15
  image_picker: ^0.8.7+4

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
